<div class="chat">
    <h1>------------------------------------------------------------------------------</h1>
    <h1>Bienvenidos a nuestro chat</h1>
    <div class="formChat">
        <div class="inputChat">
            <h3>Escribe tu Mensaje!</h3>
            <input type="text" id="chatBox">
        </div>

        <div class="messagesChat">
            <h3>Mensajes</h3>
            <p id="messagesLogs"></p>
        </div>
    </div>
</div>