<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <h1>Ecomerce Tech</h1>
            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/realtimeproducts">formulario productos</a></li>
                </ul>
                <div class="header__cart">
                    <span class="header__cart-count"> 1</span>
                    <button class="btn" data-action="show-car"><i class="bx bx-cart bx-sm"></i></button>
                </div>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>